<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Document</title>
</head>
<section>
  <button class="btn1">&larr;</button>
  <h1 class="h1">Details</h1>
  <button class="btn2">&#x2764;</button><img class="mm" src="/assets/iphone 14 Pro-9/Orange 2.png" alt=""><img class="mn" src="/assets/iphone 14 Pro-9/Group 40.png" alt="">
  <h2 class="h2">Fresh Orange</h2>
  <button class="qw1">-</button>
  <p class="p1">1kg</p>
  <button class="qw2">+</button><img class="xm" src="/assets/iphone 14 Pro-9/Frame 10.png" alt="">
  <p class="pp">Price</p>
  <h1 class="h11">Rs 50/kg</h1>
  <button class="btn">Add to Cart</button>
</section>