<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Iphone 14 Pro - 7</title>
  </head>
  <body class="cards-14-7">
    <div class="cards">
      <header>         
        <button><img src="/assets/iphone14-7/Vector.svg" alt=""></button>
        <h2>My Cart</h2>
        <button><img src="/assets/iphone14-7/Vector (1).svg" alt=""></button>
      </header>
      <main> 
        <section class="cart">
          <div class="img1"><img src="/assets/iphone14-7/banana 3.svg" alt=""></div>
          <div class="info">  
            <h2>Banana</h2>
            <p>Fresh fruits</p>
            <h2>Rs 50/kg</h2>
          </div>
          <div class="btntime"> 
            <h2>+</h2>
            <h2>2</h2>
            <h2>-</h2>
          </div>
        </section>
        <section class="cart">
          <div class="img1"><img src="/assets/iphone14-7/pineapple 2 3.svg" alt=""></div>
          <div class="info">  
            <h2>Pineapple</h2>
            <p>Fresh fruits</p>
            <h2>Rs 120/kg</h2>
          </div>
          <div class="btntime"> 
            <h2>+</h2>
            <h2>2</h2>
            <h2>-</h2>
          </div>
        </section>
        <section class="cart">
          <div class="img1"><img src="/assets/iphone14-7/tamato 3.svg" alt=""></div>
          <div class="info">  
            <h2>Tomato</h2>
            <p>Fresh fruits</p>
            <h2>Rs 220/kg</h2>
          </div>
          <div class="btntime"> 
            <h2>+</h2>
            <h2>2</h2>
            <h2>-</h2>
          </div>
        </section>
        <section class="cart">
          <div class="img1"><img src="/assets/iphone14-7/Cabbage 2.png" alt=""></div>
          <div class="info">  
            <h2>Cabbage</h2>
            <p>Fresh fruits</p>
            <h2>Rs 50/kg</h2>
          </div>
          <div class="btntime"> 
            <h2>+</h2>
            <h2>2</h2>
            <h2>-</h2>
          </div>
        </section>
      </main>
      <footer> 
        <div class="pricesi"> 
          <h2>Total Amount</h2>
          <h2>Rs 710.00</h2>
        </div><img src="/assets/iphone14-7/Group 48.svg" alt="">
        <div class="thefoot"> <img src="/assets/iphone14-7/Group 28.svg" alt=""></div>
      </footer>
    </div>
  </body>
</html>