doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Grocery Shop
    link(rel="stylesheet" href="/./css/main.css")
  body
    .card
      img(src="/./assets/imgs/istockphoto-531176552-612x612 1.svg" alt="Fruits")
      .divider
      h1 Grocery Shop
      p The easiest way to buy your grocery shopping
      button Get Started
