doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/main.css')
  title Document
section
  button.btn1 &larr;
  h1.h1 Details
  button.btn2 &#x2764;
  img.mm(src='/assets/iphone 14 Pro-9/Orange 2.png' alt='')
  img.mn(src='/assets/iphone 14 Pro-9/Group 40.png' alt='')
  h2.h2 Fresh Orange
  button.qw1 -
  p.p1 1kg
  button.qw2 +
  img.xm(src='/assets/iphone 14 Pro-9/Frame 10.png' alt='')
  p.pp Price
  h1.h11 Rs 50/kg
  button.btn Add to Cart