doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/main.css")
        title Iphone 14 Pro - 7
    body.cards-14-7
        .cards
            header          
                button
                    img(src="/assets/iphone14-7/Vector.svg" alt="")
                
                h2 My Cart
                
                button
                    img(src="/assets/iphone14-7/Vector (1).svg" alt="") 

            main 
                section.cart
                    .img1
                        img(src="/assets/iphone14-7/banana 3.svg", alt="")
                    .info   
                        h2 Banana
                        p Fresh fruits
                        h2 Rs 50/kg
                    .btntime 
                        h2 +
                        h2 2
                        h2 -
                section.cart
                    .img1
                        img(src="/assets/iphone14-7/pineapple 2 3.svg", alt="")
                    .info   
                        h2 Pineapple
                        p Fresh fruits
                        h2 Rs 120/kg
                    .btntime 
                        h2 +
                        h2 2
                        h2 -
                section.cart
                    .img1
                        img(src="/assets/iphone14-7/tamato 3.svg", alt="")
                    .info   
                        h2 Tomato
                        p Fresh fruits
                        h2 Rs 220/kg
                    .btntime 
                        h2 +
                        h2 2
                        h2 -
                section.cart
                    .img1
                        img(src="/assets/iphone14-7/Cabbage 2.png", alt="")
                    .info   
                        h2 Cabbage
                        p Fresh fruits
                        h2 Rs 50/kg
                    .btntime 
                        h2 +
                        h2 2
                        h2 -

            footer 
                .pricesi 
                    h2 Total Amount
                    h2 Rs 710.00
                img(src="/assets/iphone14-7/Group 48.svg", alt="")
                .thefoot 
                    img(src="/assets/iphone14-7/Group 28.svg", alt="")

